<!doctype html>

<html>
<head>
	<title>TrackStanford-Summary</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/requirements.css" rel="stylesheet">
	<link href="/css/jumbotron.css" rel="stylesheet">
  <link href="/css/icon_positioning.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/summaryW.js"></script>
  <script src="js/Chart.js"></script>
</head>
<body>
  {{>navbar}}

	<div class="page-header center-class">
			<h1>Summary</h1>
      {{#if programYear}}
        <h5>Program Year: {{programYear}}</h5>
      {{/if}}
	</div>
	
	<table class="table table-striped">
    <thead>
      <tr>
        <th><a href="#">Category</a></th>
        <th>Units Completed</th>
        <th>Units Needed</th>
      </tr>
    </thead>
    <tbody class="table-body">
    </tbody>
  </table>

  <br/><br/><br/>

  {{>home_button}}

</body>
</html>